.card {
  background-color: var(--color-white);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-sm);
  padding: var(--spacing-md);
  transition: all var(--transition-normal);
}

.card--hoverable {
  cursor: pointer;
}

.card--hoverable:hover {
  box-shadow: var(--shadow-md);
  transform: translateY(-4px);
}

.card--hoverable:active {
  transform: translateY(-2px);
}
